<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>

        <Console  name="console" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"/>
        </Console >
    </Appenders>

    <Loggers>
        <logger name="com.apress.prospring5.ch6" level="debug"/>

        <logger name="org.springframework" level="off"/>

        <ROOT level="info">
            <appender-ref ref="console"/>
        </ROOT>
    </Loggers>

</configuration>